.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  margin-top: 20px; 
  margin-left: 20px;
  margin-bottom: 20px; 
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-border{
  margin: 0;
  padding: 0;
  background-color: #35644F;
  color: #35644F;
}

.App-side {
  float: left;
  flex-shrink: 0;
  height: 100vh;
  width: 11.2rem;
  background-color: #35644F;
}
div.App-side ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

div.App-side li {
  background-color: #35644F;
  font-size: 15px;
  font-weight: 600;
  padding: 1.1rem 1.2rem;
  color: white;
  display: flex;
  cursor: pointer;
}

div.App-side li.selected {
  color: #35644F;
  background-color: #FFFFFF;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.App-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  font-weight: 2000;
 
}